:root {
  --primary-color: #0b5983; /*Azul*/
  --secondary-color: #067fa4; /*Azul claro*/
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  color: #ccc;
}
.pagination {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

/* ProductCard */
.product-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s;
  background: #fff;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-price {
  font-weight: bold;
  color: var(--primary-color);
  font-size: 1.5rem;
  margin: 10px 0;
}

.view-details {
  display: inline-block;
  margin-top: auto;
  color: var(--secondary-color);
  text-decoration: underline;
  font-size: 1rem;
}
